<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1F2FCF61FB4086000D1BFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1F2FD0F1FB4086100D1BFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1F2FD1A1FB4086100D1BFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
